<div #transformMenuValue class="container" *ngIf="(selected != undefined ) && (selected != null)">
    <div class="col-transform-menu">
        <div class="input-group">
            <div class="title-section-menu">Position</div>
            <div>
                <div (dblclick)="resetPositions()" (click)="selected.position.x = 0" href="#" class="resetButton">X</div>
                <input type="number" [ngModel]="selected.position.x | precision"
                    (ngModelChange)="selected.position.x = $event" min="-99999" max="99999" step="1">
            </div>
            <div>
                <div (dblclick)="resetPositions()" (click)="selected.position.y = 0" href="#" class="resetButton">Y</div>
                <input type="number" [ngModel]="selected.position.y | precision"
                    (ngModelChange)="selected.position.y = $event" min="-99999" max="99999" step="1">
            </div>
            <div>
                <div (dblclick)="resetPositions()" (click)="selected.position.z = 0" href="#" class="resetButton">Z</div>
                <input type="number" [ngModel]="selected.position.z | precision"
                    (ngModelChange)="selected.position.z = $event" min="-99999" max="99999" step="1">
            </div>
        </div>

        <div class="input-group" *ngIf="isMeshSelected===true">
            <div class="title-section-menu">Rotation</div>
            <div>
                <div (dblclick)="resetRotations()" (click)="selected.rotation.x = 0" href="#" class="resetButton">X</div>
                <input #rx type="number" [ngModel]="selected.rotation.x | rotation"
                    (ngModelChange)=updateRotation($event) min="-99999" max="99999" step="1">
            </div>
            <div>
                <div (dblclick)="resetRotations()" (click)="selected.rotation.y = 0" href="#" class="resetButton">Y</div>
                <input #ry type="number" [ngModel]="selected.rotation.y | rotation"
                    (ngModelChange)=updateRotation($event) min="-99999" max="99999" step="1">
            </div>
            <div>
                <div (dblclick)="resetRotations()" (click)="selected.rotation.z = 0" href="#" class="resetButton">Z</div>
                <input #rz type="number" [ngModel]="selected.rotation.z | rotation"
                    (ngModelChange)=updateRotation($event) min="-99999" max="99999" step="1">
            </div>
        </div>
        <div class="input-group" *ngIf="isMeshSelected===false">
            <div class="title-section-menu">Target</div>
            <div>
                <div (dblclick)="resetDirections()" (click)="selected.direction.x = 0" href="#" class="resetButton">X</div>
                <input #rx type="number" [ngModel]="selected.direction.x | precision" min="-99999" max="99999" step="1"
                    (ngModelChange)="selected.direction.x = $event">
            </div>
            <div>
                <div (dblclick)="resetDirections()" (click)="selected.direction.y = 0" href="#" class="resetButton">Y</div>
                <input #ry type="number" [ngModel]="selected.direction.y | precision" min="-99999" max="99999" step="1"
                    (ngModelChange)="selected.direction.y = $event">
            </div>
            <div>
                <div (dblclick)="resetDirections()" (click)="selected.direction.z = 0" href="#" class="resetButton">Z</div>
                <input #rz type="number" [ngModel]="selected.direction.z | precision" min="-99999" max="99999" step="1"
                    (ngModelChange)="selected.direction.z = $event">
            </div>

        </div>
        <div class="input-group" *ngIf="isMeshSelected===true">
            <div class="title-section-menu">Scaling</div>
            <div>
                <div (dblclick)="resetScalings()" (click)="selected.scaling.x = 1" href="#" class="resetButton">X</div>
                <input type="number" [ngModel]="selected.scaling.x | precision"
                    (ngModelChange)="selected.scaling.x = $event" min="-99999" max="99999" step="1">
            </div>
            <div>
                <div (dblclick)="resetScalings()" (click)="selected.scaling.y = 1" href="#" class="resetButton">Y</div>
                <input type="number" [ngModel]="selected.scaling.y | precision"
                    (ngModelChange)="selected.scaling.y = $event" min="-99999" max="99999" step="1">
            </div>
            <div>
                <div (dblclick)="resetScalings()" (click)="selected.scaling.z = 1" href="#" class="resetButton">Z</div>
                <input type="number" [ngModel]="selected.scaling.z | precision"
                    (ngModelChange)="selected.scaling.z = $event" min="-99999" max="99999" step="1">
            </div>
        </div>
    </div>
    <div class="col-transform-menu" *ngIf="isMeshSelected===true">
        <div class="input-group">
            <div class="title-section-menu">Center</div>
            <div>
                <div (dblclick)="resetCenters()" (click)="resetPivotX()" href="#" class="resetButton">X</div>
                <input #cx type="number" [ngModel]="selected.getPivotPoint().x | precision"
                    (ngModelChange)="updateCenterAxis()" min="-99999" max="99999" step="1">
            </div>
            <div>
                <div (dblclick)="resetCenters()" (click)="resetPivotY()" href="#" class="resetButton">Y</div>
                <input #cy type="number" [ngModel]="selected.getPivotPoint().y | precision"
                    (ngModelChange)="updateCenterAxis()" min="-99999" max="99999" step="1">
            </div>
            <div>
                <div (dblclick)="resetCenters()" (click)="resetPivotZ()" href="#" class="resetButton">Z</div>
                <input #cz type="number" [ngModel]="selected.getPivotPoint().z | precision"
                    (ngModelChange)="updateCenterAxis()" min="-99999" max="99999" step="1">
            </div>
        </div>
        <!-- div class="input-group">
            <div class="title-section-menu">Screen position</div>
            <div for="screenPositionX">X</div>
            <input type="number" min="-99999" max="99999" step="1" disabled style="color: grey">
            <div for="screenPositionY">Y</label>
            <input type="number" min="-99999" max="99999" step="1" disabled style="color: grey">
        </div -->
        <!-- <pre style="color:white">{{ tm | json }}</pre> -->
    </div>
    <div style="clear: both;"></div>
</div>