<div #transformMenuValue class="container" *ngIf="(selected != undefined ) && (selected != null)">

    <div class="col-transform-menu">
        <div class="input-group">
            <div class="title-section-menu">Position</div>
            <input-number [bind]="selected.position" [param]="'x'" [label]="'x'" [resetValue]=0></input-number>
            <input-number [bind]="selected.position" [param]="'y'" [label]="'y'" [resetValue]=0></input-number>
            <input-number [bind]="selected.position" [param]="'z'" [label]="'z'" [resetValue]=0></input-number>
        </div>
        <div class="input-group">
            <div class="title-section-menu">Rotation</div>
            <input-number [bind]="selected.rotation" [param]="'x'" [label]="'x'" [resetValue]=0 [pipe]="'rotation'"
                [pipeInput]=pipeInputRotation>
            </input-number>
            <input-number [bind]="selected.rotation" [param]="'y'" [label]="'y'" [resetValue]=0 [pipe]="'rotation'"
                [pipeInput]=pipeInputRotation>
            </input-number>
            <input-number [bind]="selected.rotation" [param]="'z'" [label]="'z'" [resetValue]=0 [pipe]="'rotation'"
                [pipeInput]=pipeInputRotation>
            </input-number>
        </div>
    </div>
    <div class="col-transform-menu">
        <div class="input-group">
            <div class="title-section-menu">Scaling</div>
            <input-number [bind]="selected.scaling" [param]="'x'" [label]="'x'" [step]=0.1 [resetValue]=1>
            </input-number>
            <input-number [bind]="selected.scaling" [param]="'y'" [label]="'y'" [step]=0.1 [resetValue]=1>
            </input-number>
            <input-number [bind]="selected.scaling" [param]="'z'" [label]="'z'" [step]=0.1 [resetValue]=1>
            </input-number>
        </div>
        <!--
        <div class="input-group">
            <div class="title-section-menu">Center</div>
            <input-number [bind]="selected.center" [param]="'x'" [resetValue]=0></input-number>
            <input-number [bind]="selected.center" [param]="'y'" [resetValue]=0></input-number>
            <input-number [bind]="selected.center" [param]="'z'" [resetValue]=0></input-number>
        </div>
        -->
    </div>
    <div style="clear: both;"></div>
</div>