<popup-window [title]="'About Us'" [isOpen]="this.isOpen" (emitCloseDialog)="closeDialog()">
    <div>
        <a href="https://github.com/VallholRT/Odin" target="_blank"></a>
        <h3>Version 0.1.6 | Vanesa Martin - No matemos el tiempo | 10/01/2021</h3>
        <p>Odin is a Broadcast web app designer, createad by <a href="https://www.sparanzza.com" target="_blank">Aurelio Muñoz Hijano</a></p>
        <div class="icon-viking icon-xl icon-btn-color" style="margin: auto; margin-top: 50px"></div>
        <h3>
            Valhalla - The Hall of the Fallen Warriors
        </h3>
        <span>Laura Garzon | </span><a href="https://www.twitter.com/girldiehard" target="_blank">@girldiehard </a>

    </div>
</popup-window>