<popup-window [title]="'About Us'" [isOpen]="this.isOpen" (emitCloseDialog)="closeDialog()">
    <div>
        <a href="https://github.com/VallholRT/Odin" target="_blank"></a>
        <h3>
            Version 0.1.5 | League of Legends -Raise Up The Lights (ft. The Seige) | 20/09/2021
        </h3>
        <p>
            Odin is a Broadcast web app designer, createad by
            <a href="https://www.sparanzza.com" target="_blank">Aurelio Muñoz Hijano</a
      >
    </p>

    <div
      class="icon-HBD icon-xl icon-btn-color"
      style="margin: auto; margin-top: 50px"
    ></div>
    <h3>
      Happy BirthDay Laurilla
      <a href="https://www.twitter.com/girldiehard" target="_blank"
        >@DieHardGirld</a
      >
    </h3>
    <p>
      I wish you a very happy birthday in this 20th on September, and all the
      best for you and your family!
    </p>
    <p>YOU HAVE THE POWERRRRR!!!!!!!!</p>
  </div>
</popup-window>