<div>
    <div class="title-section-menu">Text</div>
    <textarea #text (input)=updateText() style="margin: 5px" rows="4" cols="50"></textarea>
    <div style="display: flex;">
        <div class="input-group">
            <div class="title-section-menu">Horizontal Justification</div>
            <div style="display: flex;">
                <button>left</button>
                <button>center</button>
                <button>right</button>
            </div>
        </div>
        <div class="input-group">
            <div class="title-section-menu">Vertical Justification</div>
            <div style="display: flex;">
                <button>Top</button>
                <button>first line</button>
                <button>center</button>
                <button>bottom</button>
            </div>
        </div>
    </div>
</div>