.input-group {
    padding: 5px;
    margin: 5px;
    border: var(--main-menu-border);
    position: relative;
    top: 0px;
    right: 0px;
}

.title-section-menu{
    font-size: 10px;
    color: var(--console-debug-color);
}

button {
    margin: 5px;
}