<div *ngIf="this.selected !== null && this.selected !== undefined">
	<div *ngIf="isPlugText">
		<text-panel [plugText]=this.selected></text-panel>
	</div>
	<div *ngIf="!isPlugText">
		<div *ngFor="let p of this.selected.panel.properties">
			<div class="property-panel-group"
				style="margin: 2px 0px; display: flex; flex-direction: row; justify-content: space-between;">
				<span class="property-panel-text">{{p.label}}</span>
				<div [ngSwitch]="p.controlType">
					<input style="display: inline-block;" *ngSwitchCase="'number'" [id]="p.key" type="number" min="0"
						max="9999" [(ngModel)]=this.selected.panel.values[p.key] (change)=updateMesh()>
				</div>
			</div>
		</div>
	</div>
</div>