<div *ngIf="this.currentMesh!=null || this.currentMesh!=undefined">
    <div class="property-material-group">
        <span class="property-material-text">Name</span>
        <input style="width: 100%" type="text" [(ngModel)]="this.currentMesh.material.name">
    </div>
    <div class="property-material-group">
        <span class="property-material-text">Ambient</span>
        <input type="color" [ngModel]="this.currentMesh | rgbToHex:'AMBIENTCOLOR'"
            (ngModelChange)="hexToRgb($event, 'AMBIENTCOLOR')" value="#aaaaaa">
    </div>
    <div class="property-material-group">
        <span class="property-material-text">Diffuse</span>
        <input type="color" [ngModel]="this.currentMesh | rgbToHex:'DIFFUSECOLOR'"
            (ngModelChange)="hexToRgb($event, 'DIFFUSECOLOR')" value="#aaaaaa">
    </div>
    <div class="property-material-group">
        <span class="property-material-text">Emission</span>
        <input type="color" [ngModel]="this.currentMesh | rgbToHex:'EMISSIVECOLOR'"
            (ngModelChange)="hexToRgb($event, 'EMISSIVECOLOR')" value="#aaaaaa">
    </div>
    <div class="property-material-group">
        <span class="property-material-text">Specular</span>
        <input type="color" [ngModel]="this.currentMesh | rgbToHex:'SPECULARCOLOR'"
            (ngModelChange)="hexToRgb($event, 'SPECULARCOLOR')" value="#aaaaaa">
    </div>
    <div class="property-material-group">
        <span class="property-material-text">Specular Power</span>
        <input type="range" min="0" max="1024" value="0" step="0.001"
            [(ngModel)]="$any(this.currentMesh.material).specularPower">
        <input type="text" min="0" max="1" value={{$any(this.currentMesh.material).specularPower}} [(ngModel)]="$any(this.currentMesh.material).specularPower">
    </div>
    <div class="property-material-group">
        <span class="property-material-text">Alpha</span>
        <input type="range" min="0" max="1" value="0" step="0.001" [(ngModel)]="$any(this.currentMesh.material).alpha">
        <input type="text" min="0" max="1" value={{this.currentMesh.material.alpha}} [(ngModel)]="$any(this.currentMesh.material).alpha">
    </div>
</div>