<div *ngIf="this.selected !== null && this.selected !== undefined">
    <div class="property-panel-group">
        <span class="property-panel-text">Ambient</span>
        <input type="color" [ngModel]="this.selected.ambientColor| rgbToHex"
            (ngModelChange)="hexToRgb($event, 'AMBIENTCOLOR')" value="#aaaaaa">
    </div>
    <div class="property-panel-group">
        <span class="property-panel-text">Diffuse</span>
        <input type="color" [ngModel]="this.selected.diffuseColor | rgbToHex"
            (ngModelChange)="hexToRgb($event, 'DIFFUSECOLOR')" value="#aaaaaa">
    </div>
    <div class="property-panel-group">
        <span class="property-panel-text">Emission</span>
        <input type="color" [ngModel]="this.selected.emissiveColor| rgbToHex"
            (ngModelChange)="hexToRgb($event, 'EMISSIVECOLOR')" value="#aaaaaa">
    </div>
    <div class="property-panel-group">
        <span class="property-panel-text">Specular</span>
        <input type="color" [ngModel]="this.selected.specularColor| rgbToHex"
            (ngModelChange)="hexToRgb($event, 'SPECULARCOLOR')" value="#aaaaaa">
    </div>
    <div class="property-panel-group">
        <span class="property-panel-text">Alpha</span>
        <input-number [bind]="selected" [param]="'alpha'" [label]="'R'" [step]=0.1 [min]=0 [max]=1
            [resetValue]="selected['alpha']">
        </input-number>
    </div>
    <div class="property-panel-group">
        <span class="property-panel-text">Specular Power</span>
        <input-number [bind]="selected" [param]="'specularPower'" [label]="'R'" [step]=0.1
            [resetValue]="selected['specularPower']">
        </input-number>
    </div>
</div>