* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    position: relative;
    width: 100px;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    width: 100px;
    height: 22px;
    border: var(--main-menu-border);
    color: var(--console-debug-color);
    background-color: var(--main-menu-background-color);
}

li a:hover {
    color: var(--main-menu-color-hover);
    background-color: var(--main-menu-background-color-hover);

}

li ul {
    display: none;
    position: absolute;
    top: 0px;
    left: 100px;
}

li:hover ul {
    display: block;
}