<div #transformMenuValue class="container">
  <div class="input-group">
    <div class="title-section-menu"></div>
    <content-panel [title]="'Transformation'" [icon]="'icon-axis'" [expand]=true>
      <transform-menu></transform-menu>
    </content-panel>
    <content-panel [title]="'Geometry'" [icon]="'icon-geometry'">
      <builder-panel></builder-panel>
    </content-panel>
    <content-panel [title]="'Material'" [icon]="'icon-material'">
      <material-panel></material-panel>
    </content-panel>
    <content-panel [title]="'Light'" [icon]="'icon-light'">
      <light-panel></light-panel>
    </content-panel>
  </div>
</div>