<div *ngIf="this.selected!=null || this.selected!=undefined">
    <div class="property-panel-group">
        <span class="property-panel-text">Intensity</span>
        <input-number [bind]="selected" [param]="'intensity'" [label]="'R'" [step]=0.1 [min]=-20 [max]=20
            [resetValue]="selected['intensity']">
        </input-number>
    </div>
    <div class="property-panel-group">
        <span class="property-panel-text">Diffuse</span>
        <input type="color" [ngModel]="this.selected.diffuse | rgbToHex"
            (ngModelChange)="hexToRgb($event, 'DIFFUSECOLOR')" value="#aaaaaa">
    </div>
    <div class="property-panel-group">
        <span class="property-panel-text">Specular</span>
        <input type="color" [ngModel]="this.selected.specular | rgbToHex"
            (ngModelChange)="hexToRgb($event, 'SPECULARCOLOR')" value="#aaaaaa">
    </div>
</div>