.alertType-error{
    background-color: crimson;
}

.alertType-success{
    background-color: seagreen;
}
.alertType-info{
    background-color: lightseagreen;
}

.alertType-warninf{
    background-color: goldenrod;
}

.inline {
    display: inline-block;
}