.container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background: #111;
    z-index: 10;
    opacity: .85;
}

.title {
    border: var(--main-menu-border);
    color: var(--main-menu-color);
    background-color: var(--main-menu-background-color);
}

.inner-text {
    margin: 0px;
    font-size: 12px;
    text-align: left;
    color: var(--console-debug-color);
    list-style: none;
}