<popup-window [title]="'Console'" [isOpen]="this.isOpen" (emitCloseDialog)="closeDialog()"
    [buttonsFooter]="[{ name: 'clear', event: clearConsole }]">
    <div class="container">
        <div #scroller (scroll)=onElementScroll($event) class="panel-scroll">
            <div class="panel-scroll-child">
                <ul *ngFor="let blc of logServ.bufferLogConsole" class="inner-text-console">
                    <li>{{blc}}</li>
                </ul>
            </div>
        </div>
    </div>
</popup-window>