<div #transformMenuValue class="container" [ngStyle]="{'width.px': width}" [ngClass]="{'open-modal': this.isOpen}"
    cdkDrag>
    <div class="input-group">
        <div style="display: flex; align-items: center; margin-bottom: 3px;">
            <div style="flex: 1" class="title-section-menu">{{title}}</div>
            <div (click)="closeDialog()" style="flex: 0" class="float-right" style="cursor: pointer;">
                <div class="icon-color icon-close icon-xs"></div>
            </div>
        </div>
        <ng-content></ng-content>
        <div style="display: flex; align-items: center; margin: 10px;" *ngFor="let bf of buttonsFooter">
            <button style="margin-right: 5px" (click)='bf.event()'>{{bf.name}}</button>
        </div>
    </div>
</div>