<div #transformMenuValue class="container">
  <div class="input-group">
    <div class="title-section-menu">Tree Node</div>
    <div class="tree-node__top-menu-align">
      <div class="tree-node__tope-menu__group-vertical-btn">
        <div class="icon-hide icon-color icon-xxs float-left" (click)="checkHideDirectDescendants()"></div>
        <div class="icon-unhide icon-color icon-xxs float-left" (click)="checkUnHideDirectDescendants()"></div>
      </div>
      <div class="tree-node__tope-menu__group-vertical-btn">
        <div class="icon-lock icon-color icon-xxs float-left" (click)="checkLockDirectDescendants()"></div>
        <div class="icon-unlock icon-color icon-xxs float-left" (click)="checkUnLockDirectDescendants()"></div>
      </div>
      <input (keyup.enter)="searchElement($event.target.value)" class="searchElement" type="text"
        placeholder="search...">
      <div (click)="clickDeleteNode($event)" class="icon-btn-color icon-trash icon-btn-xs float-left"></div>
    </div>
    <div class="separator"></div>
    <mat-tree class="tree-node" [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="20">
        <button mat-icon-button disabled></button>
        <div
          [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                          'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                          'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
          draggable="true" draggable="true" (dragstart)="handleDragStart($event, node);"
          (dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);"
          (dragend)="handleDragEnd($event);">

          <div (click)="clickNodeContainer($event, node)" class="box-node"
            [ngClass]="{'container-selected': node.selected == true}">
            <div [ngClass]="node.hidden ? 'icon-hide' : 'icon-unhide'" (click)="clickHideNode($event, node)"
              class="icon-color icon-xs float-left"></div>
            <div [ngClass]="node.locked ? 'icon-lock' : 'icon-unlock'" (click)="clickLockNode($event, node)"
              class="icon-color icon-xs float-left"></div>
            <input type="text" [ngModel]="node.name" (ngModelChange)="setContainerName($event, node)"
              [readonly]="this.isReadOnly" (dblclick)="this.isReadOnly = false" (blur)="this.isReadOnly=true">
            <div class="icon-color icon-axis icon-xs float-left" (click)="openSidebarPanel(0)"></div>
            <div *ngIf="this.flatNodeMap.get(node).getIconType() != ''"
              [ngClass]="[ this.flatNodeMap.get(node).getIconType() ,'icon-color', 'icon-xs']"
              (click)="openSidebarPanel(this.flatNodeMap.get(node).getPanel())">
            </div>
          </div>
        </div>

      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div
          [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                          'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                          'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
          draggable="true" (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
          (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">

          <div (click)="clickNodeContainer($event, node)" class="box-node"
            [ngClass]="{'container-selected': node.selected == true}">
            <div [ngClass]="node.hidden ? 'icon-hide' : 'icon-unhide'" (click)="clickHideNode($event, node)"
              class="icon-color icon-xs float-left"></div>
            <div [ngClass]="node.locked ? 'icon-lock' : 'icon-unlock'" (click)="clickLockNode($event, node)"
              class="icon-color icon-xs float-left"></div>
            <input type="text" [ngModel]="node.name" (ngModelChange)="setContainerName($event, node)"
              [readonly]="this.isReadOnly" (dblclick)="this.isReadOnly = false" (blur)="this.isReadOnly=true">
            <div class="icon-color icon-axis icon-xs float-left" (click)="openSidebarPanel(0)"></div>
            <div *ngIf="this.flatNodeMap.get(node).getIconType() != ''"
              [ngClass]="[ this.flatNodeMap.get(node).getIconType() ,'icon-color', 'icon-xs']"
              (click)="openSidebarPanel(this.flatNodeMap.get(node).getPanel())">
            </div>
          </div>
        </div>

      </mat-tree-node>
    </mat-tree>
    <span #emptyItem></span>
  </div>
</div>
<tool-menu></tool-menu>
<div style="
position: absolute;
bottom: 6px;
color: rgb(255, 187, 0);
z-index: 3;
left: 305px;
text-align: left;
opacity: .6;
">Odin Ver. 0.1.1 [F Fit to view, Q select, W Move, E Rotate, R Scale, T Local Global Move] [Camera Viewport - 'Atl' +
  (LMB - WMB - RMB)]
</div>