<div #transformMenuValue class="container">
  <div class="input-group">
    <div style="display: flex; align-items: center; margin-bottom: 3px;">
      <div style="flex: 0 auto" [ngClass]="[ this.icon ,'icon-color', 'icon-xs']"></div>
      <div style="flex: 1" class="title-section-menu">{{title}}</div>
      <div style="flex: 0" (click)='collapse()' class="float-right" style="cursor: pointer;">
        <div *ngIf="!this.expand" class="icon-color icon-expand icon-xs"></div>
        <div *ngIf="this.expand" class="icon-color icon-minimize icon-xs"></div>
      </div>
    </div>
    <div *ngIf="this.expand">
      <ng-content></ng-content>
    </div>
  </div>
</div>