/* colors */
* {
  --main-menu-background-color: #222;
  --main-menu-background-color-hover: #fff;
  --main-menu-color: #fff;
  --main-menu-color-hover: #000;
  --main-menu-border: 1px solid #333;
  --console-debug-color: rgb(255, 187, 0);
}

/* general */
a:link {
  text-decoration: none;
  color: var(--console-debug-color);
}

a:hover {
  color: var(--console-debug-color);
  font-family: arial;
  text-decoration: none
}

a:visited {
  color: var(--console-debug-color);
  font-family: arial;
  text-decoration: none
}

* {
  outline: none !important;
}

*:focus {
  outline: none !important;
}

textarea:focus,
input:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none !important;
}

/* engine style */
html,
body,
app-root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
}

.engine-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  #renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
  }

  #renderCanvas:focus {
    outline: none;
  }
}

.ui-wrapper {
  position: absolute;

  * {
    z-index: 1;
  }
}