.engine-wrapper {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    #renderCanvas {
        border: 1px solid #504b4b;
        touch-action: none;
        left: 235px;
        position: relative;
    }
    #renderCanvas:focus {
        outline: none;
    }
}